.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.App {
  
  /* background: white ; */
  margin: 0 auto;
 
}

.full-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 /* width: 400px; */

}

.character{
  
  display:flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px auto;
  background: white;
  background-image: linear-gradient(rgb(252, 110, 110), rgb(253, 253, 147));
  width:250px;
  height:400px;
}

.list li {
padding:10px 0;
}

.character .identity {
display: flex;
flex-direction:column;
}

.info-container{
display:flex;
justify-content: space-between;
}

.url{
  display:flex;
  flex-direction:column;
}